<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

    <title>细胞小组资料输入成功！</title>
  </head>
  <body>
      
    <div class='container my-4 p-4'>
        <h3><%= msg %>: </h3>

        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col" colspan="2" class='text-center'><%= newSub.leader %>组长</th>
            <!-- <th scope="col"> </th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">聚会日期：</th>
            <td><%= newSub.cellGroupDate.toISOString().substr(0,10) %></td>
            </tr>
            <tr>
            <th scope="row">出席人数：</th>
            <td><%= newSub.numPpl %></td>
            </tr>
            <tr>
                <th scope="row">新朋友人数：</th>
                <% if(newSub.newPpl > 0){ %>
                    <td><%= newSub.newPpl %></td>
                <% }else{ %>
                    <td>0</td>
                <% } %>
            </tr>
            <tr>
                <th scope="row">小组活动：</th>
                <td><%= newSub.activity %></td>
            </tr>
            <tr>
                <th scope="row">信息：</th>
                <td><%= newSub.message %></td>
            </tr>
            <tr>
                <th scope="row">留言：</th>
                <% if(newSub.comment.length > 0){ %>
                    <td><%= newSub.comment %></td>
                <% }else{ %>
                    <td>-</td>
                <% } %>
            </tr>
            <tr>
                <th scope="row">面对的困难/挑战：</th>
                <% if(newSub.problem.length > 0){ %>
                    <td><%= newSub.problem %></td>
                <% }else{ %>
                    <td>-</td>
                <% } %>
            </tr>
        </tbody>
        </table>

        <div class='btn-section text-center'>
            <a href='/bccmForm/' class="btn btn-primary">新资料表</a>
            <a href='/bccmForm/bccmTable' class="btn btn-info">各区细胞小组提交资料表记录</a>
        </div>


    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>